

.b-example-divider {
  width: 100%;
  height: 0.2rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.container {
  overflow-x: hidden;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}


#map-container {
  text-anchor: center;
  width: 100%;
  margin: auto;
}

#bar-container {
  text-anchor: center;
  height: 50vh;
  width: 100%;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.scroll-button {
  text-align: center;
  height: 2rem;
  width: 2rem; /* Set a specific width */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(252, 252, 252); /* Set a background color */
  color: rgba(0, 0, 0, 0.575); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.scroll-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.small-text {
  font-size: 0.8rem;
}